.my-datepicker {
    display: inline-block;
    margin-top: 30px;
    text-align: center;
}
.my-datepicker .table{
    font-family: hirakaku,sans-serif;
}
table.table-condensed tr {
    position: relative;
}
.datepicker table tr td, .datepicker table tr th {
    border-radius: 0px;
}
.table-bordered {
    border: 0 solid #ddd;
    font-size: 12px;
}
.table-bordered.table-responsive thead th {
    border: medium none;
}
.table-bordered.table-responsive th.dow {
    background: #1e40a4 none repeat scroll 0 0;
    border: 1px solid #fff;
    border-radius: 0;
    color: #fff;

    font-size: 10px;
    text-transform: uppercase;
}
.table.table-bordered.table-responsive tbody {
    background: #d4dfff none repeat scroll 0 0;
    color: #1e40a4;
}
.table > thead > tr > th {
    border-bottom: 2px solid #ddd;
    vertical-align: middle;
}
.table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
    border: 1px solid #fff;
}
.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 4px;
    vertical-align: middle;
}
.datepicker .datepicker-switch, .datepicker .prev, .datepicker .next, .datepicker tfoot tr th {
    color: #1e40a4;
    cursor: pointer;
    font-size: 20px;
    padding: 0;
}
.prev_month.prev {
    position: relative;
}
.next_month.next {
    position: relative;
}
.prev:before {
    color: #1e40a4;
    content: "<";
    font-size: 25px;
    height: 33px;
    left: -7px;
    position: absolute;
    top: -5px;
    width: 10px;
}

.next:after {
    color: #1e40a4;
    content: ">";
    font-size: 25px;
    height: 33px;
    position: absolute;
    right: -4px;
    top: -6px;
    width: 10px;
}
